---
layout: default
---
<h1><%= resource.data.title %></h1>
<%
  by_tag = Hash.new { |h, k| h[k] = [] }
  site.collections.posts.resources.each do |post|
    tags = Array(post.data.tags) + Array(post.data.tag)
    tags.compact.uniq.each { |t| by_tag[t.to_s] << post }
  end

  topics = site.data.tag_taxonomy["topics"]
  forms  = site.data.tag_taxonomy["forms"]
  other  = (by_tag.keys - topics - forms).sort
%>

<section class="tag-section">
  <h2>By topic</h2>
  <% topics.each do |tag| %>
  <% next unless by_tag.key?(tag) %>
  <h3 class="tag-heading" id="<%= tag %>"><%= tag %> <span class="tag-count">(<%= by_tag[tag].size %>)</span></h3>
  <ul class="post-list">
    <% by_tag[tag].sort_by(&:date).reverse.each do |post| %>
    <li class="h-entry">
      <a class="p-name u-url" href="<%= post.relative_url %>"><%= post.data.title %></a>
      <time class="dt-published" datetime="<%= post.date.iso8601 %>"><%= post.date.strftime("%-d %B %Y") %></time>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>

<section class="tag-section">
  <h2>By form</h2>
  <% forms.each do |tag| %>
  <% next unless by_tag.key?(tag) %>
  <h3 class="tag-heading" id="<%= tag %>"><%= tag %> <span class="tag-count">(<%= by_tag[tag].size %>)</span></h3>
  <ul class="post-list">
    <% by_tag[tag].sort_by(&:date).reverse.each do |post| %>
    <li class="h-entry">
      <a class="p-name u-url" href="<%= post.relative_url %>"><%= post.data.title %></a>
      <time class="dt-published" datetime="<%= post.date.iso8601 %>"><%= post.date.strftime("%-d %B %Y") %></time>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>

<% if other.any? %>
<section class="tag-section">
  <h2>Other</h2>
  <% other.each do |tag| %>
  <h3 class="tag-heading" id="<%= tag %>"><%= tag %> <span class="tag-count">(<%= by_tag[tag].size %>)</span></h3>
  <ul class="post-list">
    <% by_tag[tag].sort_by(&:date).reverse.each do |post| %>
    <li class="h-entry">
      <a class="p-name u-url" href="<%= post.relative_url %>"><%= post.data.title %></a>
      <time class="dt-published" datetime="<%= post.date.iso8601 %>"><%= post.date.strftime("%-d %B %Y") %></time>
    </li>
    <% end %>
  </ul>
  <% end %>
</section>
<% end %>
